/NextAPI2020/.vs/GameTest/v16/.suo
/NextAPI2020/Debug/GameTest.pdb
/NextAPI2020/GameTest/Debug/GameTest.obj
/NextAPI2020/GameTest/Debug/GameTest.pch
/NextAPI2020/GameTest/Debug/GameTest.tlog/CL.command.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/CL.read.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/CL.write.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/GameTest.lastbuildstate
/NextAPI2020/GameTest/Debug/GameTest.tlog/link-cvtres.read.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/link-cvtres.write.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/link-rc.read.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/link-rc.write.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/link.command.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/link.read.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/link.write.1.tlog
/NextAPI2020/GameTest/Debug/GameTest.tlog/unsuccessfulbuild
/NextAPI2020/GameTest/Debug/SimpleController.obj
/NextAPI2020/GameTest/Debug/SimpleSound.obj
/NextAPI2020/GameTest/Debug/SimpleSprite.obj
/NextAPI2020/GameTest/Debug/TextureLoader.obj
/NextAPI2020/GameTest/Debug/app.obj
/NextAPI2020/GameTest/Debug/main.obj
/NextAPI2020/GameTest/Debug/stdafx.obj
/NextAPI2020/GameTest/Debug/vc142.idb
/NextAPI2020/GameTest/Debug/vc142.pdb
/NextAPI2020/GameTest/GameTest.vcxproj.user
/NextAPI2020/GameTest/x64/Debug/GameTest.log
/NextAPI2020/GameTest/x64/Debug/GameTest.obj
/NextAPI2020/GameTest/x64/Debug/GameTest.pch
/NextAPI2020/GameTest/x64/Debug/GameTest.tlog/CL.command.1.tlog
/NextAPI2020/GameTest/x64/Debug/GameTest.tlog/CL.read.1.tlog
/NextAPI2020/GameTest/x64/Debug/GameTest.tlog/CL.write.1.tlog
/NextAPI2020/GameTest/x64/Debug/GameTest.tlog/GameTest.lastbuildstate
/NextAPI2020/GameTest/x64/Debug/GameTest.tlog/link.command.1.tlog
/NextAPI2020/GameTest/x64/Debug/GameTest.tlog/link.read.1.tlog
/NextAPI2020/GameTest/x64/Debug/GameTest.tlog/link.write.1.tlog
/NextAPI2020/GameTest/x64/Debug/MyMath.obj
/NextAPI2020/GameTest/x64/Debug/Random.obj
/NextAPI2020/GameTest/x64/Debug/Rotation.obj
/NextAPI2020/GameTest/x64/Debug/SimpleController.obj
/NextAPI2020/GameTest/x64/Debug/SimpleSound.obj
/NextAPI2020/GameTest/x64/Debug/SimpleSprite.obj
/NextAPI2020/GameTest/x64/Debug/TextureLoader.obj
/NextAPI2020/GameTest/x64/Debug/Vector2.obj
/NextAPI2020/GameTest/x64/Debug/app.obj
/NextAPI2020/GameTest/x64/Debug/main.obj
/NextAPI2020/GameTest/x64/Debug/stdafx.obj
/NextAPI2020/GameTest/x64/Debug/vc142.idb
/NextAPI2020/GameTest/x64/Debug/vc142.pdb
/NextAPI2020/x64/Debug/GameTest.exe
/NextAPI2020/x64/Debug/GameTest.ilk
/NextAPI2020/x64/Debug/GameTest.pdb
/NextAPI2020/x64/Debug/freeglut.dll
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
